<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>{{ title }}</span>
      <span class="flexExpand"></span>
      <span>Built with <img src="assets/cloudstate.svg" height=35px ></span>
      <span>&nbsp;by <img src="assets/yoppworksicon.png" height=35px > Yoppworks</span>

    </mat-toolbar-row>
  </mat-toolbar>



  <div fxLayout='row' class="zero">
    <div fxFlex="5%" class="one"></div>
    <div fxFlex="67%" class="two">
      <h4>
        {{ description }}
      </h4>
      <app-active-boss-list></app-active-boss-list>
    </div>
    <div fxFlex="28%" class="three"></div>
  </div>
</div>










